.main-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .fourth-input {
    display: block;
    width: 100%;
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-container {
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
  }
  