.main-container {
  padding-left: 20px;
  padding-right: 20px;
}

.third-input {
  display: block;
  width: 100%;
  background-color: #f2f2f2;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container {
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.input-message-container {
  .third-input {
    display: block;
  }

  .text-invalid {
    display: none;
    max-width: 100%;
    padding: 0.25rem 0.5rem;
    margin-top: 0.1rem;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #fff;
    background-color: rgba(220, 53, 69, 0.9);
    border-radius: 0.25rem;
  }
}

.error {
  .text-invalid {
    display: block;
  }
}

// input {
//     display: block;
// }

// .text-invalid {
//     display: block;
// }
