.main-container {
  padding-left: 20px;
  padding-right: 20px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-bottom: 10px;
}

.spinner-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
